{% extends 'base.html.twig' %}

{% block title %}Cours (admin){% endblock %}

{% block body %}
    <div class="flex justify-center">
        <h1 class="font-bold text-white rounded-xl py-1 my-4 px-2 bg-[#163853]">Liste des cours :</h1>
    </div>    
    <a class="ml-24 font-5xl font-bold rounded-xl py-1 px-2 bg-[#163853] text-white" href="{{ path('app_gestion_cours_new') }}">Créer un cours</a>
    {% for cour in cours %}
        <a href="{{ path('app_gestion_cours_show', {'id': cour.id}) }}">
            <div class="flex justify-center mx-auto h-[350px] w-[400px] border-4 border-[#163853] rounded-lg overflow-hidden group text-white">
                <img class="h-full w-full scale-[1] group-hover:scale-[1.2] bg-[#163853] transition duration-300 ease-in-out object-contain" src={{asset('media/coursIcon.png')}}>
                <p class="absolute self-start -mr-80 pb-8 text-2xl drop-shadow-2xl">{{cour.difficulte}}</p>
                <p class="absolute self-end pb-16 text-2xl drop-shadow-2xl">{{cour.matiere}}</p>
            </div>
        </a>
        <div class="flex justify-center">
            <a class="font-5xl font-bold rounded-xl py-1 px-2 bg-[#163853] text-white my-4" href="{{ path('app_gestion_cours_edit', {'id': cour.id}) }}">Modifier</a>
        </div>
    {% else %}
        <p class="font-5xl text-center font-bold">Il n'y a pas encore de cours !</p>
    {% endfor %}
{% endblock %}
