{% extends 'base.html.twig' %}

{% block title %}Cours (admin){% endblock %}

{% block body %}
    <div class="flex justify-center">
        <h1 class="font-bold text-white rounded-xl py-1 my-4 px-2 bg-[#163853]">Détails du cours</h1>
    </div>
    <table class="table border-4 border-[#163853] mt-12 mx-24 rounded-xl">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cour.nom }}</td>
            </tr>   
            <tr>
                <th>Contenu</th>
                <td>{{ cour.dossier }}</td>
            </tr> 
            <tr>
                <th>Contenu</th>
                <td>{{ cour.contenu }}</td>
            </tr>
            <tr>
                <th>Matiere</th>
                <td>{{ cour.matiere }}</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ cour.difficulte }}</td>
            </tr>
        </tbody>
    </table>
    <div class="font-bold font-5xl text-center flex justify-end gap-4 mx-24 mt-4">
        <a class="bg-[#163853] rounded-xl px-2 py-1 text-white" href="{{ path('app_gestion_cours_index') }}">Retour à la liste des cours</a>
        <a class="bg-[#163853] rounded-xl px-2 py-1 text-white" href="{{ path('app_gestion_cours_edit', {'id': cour.id}) }}">Modifier</a>
        {{ include('gestion_cours/_delete_form.html.twig') }}
    </div>
{% endblock %}
